<div style="background: grey; padding: 20px 0;">
  <div
    style="font-size: 16px; max-width: 600px; color: grey; margin: 0 auto; background: #fff; padding: 0 0 20px; text-align: left; letter-spacing: 1px;">
    <div style="background: grey; padding: 25px;">
      <img src="https://konekto-assets.s3-sa-east-1.amazonaws.com/logo-horizontal-branca.png"
        style="margin: 0 auto; max-width: 350px;" />
    </div>
    <h3 style="margin: 30px auto 5px; max-width: 550px;">Olá Konekter</h3>
    <p style="margin: 0px auto 10px; max-width: 550px;">Mensagem via {{formName}}<br />
      cliente <strong>{{name}}</strong><br />
      empresa <strong>{{company}}</strong><br />
      email {{email}}<br />
      telefone {{phone}}
    </p>

    <p style="margin: 30px auto; max-width: 550px; border-top: 1px solid lightgrey; padding: 10px 0;">{{message}}</p>
    
    {{#if attachments}}
      <h3 style="margin: 0px auto 5px; max-width: 550px;">Arquivos</h3>
      {{#each attachments}}
        <a href={{content}} style="margin: 0 auto; max-width: 550px; display: block;">{{filename}}</a>
      {{/each}}
    {{/if}}

    <p style="margin: 20px auto 10px; font-size: 11px; font-style: italic; max-width: 550px;">Enviado automaticamente de konekto.me</p>
  </div>
</div>