<div style="background: #489ec7; padding: 20px 0;">
  <div
    style="font-size: 16px; max-width: 600px; color: #2786b3; margin: 0 auto; background: #fff; padding: 0 0 20px; text-align:center;">
    <div style="background: #489ec7; padding: 40px;">
      <img src="https://konekto-assets.s3-sa-east-1.amazonaws.com/logo-horizontal-branca.png"
        style="margin: 30px auto 0; max-width: 220px;" />
      <h4 style="margin: 5px 0 0; letter-spacing: 1px; font-weight: 300; font-size: 16px; color: #fff;">Konekto
        Translations LTDA.<br />CNPJ 39.907.000/0001-05</h4>
    </div>
    <h3 style="margin: 30px 0 5px; letter-spacing: 1px;">Olá, {{name}} | {{company}}</h3>
    <p style="margin: 0px 0 10px; letter-spacing: 1px;">Agradecemos seu interesse pela Konekto! <br />Abaixo os dados do seu orçamento:</p>
    <table style="margin: 30px auto; border-spacing: 0px; border: 1px solid grey; color: grey; max-width: 550px;">
      <thead>
        <tr>
          <th style="padding: 5px 10px; text-align:left; border: 1px solid grey">serviço</th>
          <th style="padding: 5px 10px; text-align:left; border: 1px solid grey">custo</th>
          <th style="padding: 5px 10px; text-align:left; border: 1px solid grey">prazo</th>
          <th style="padding: 5px 10px; text-align:left; border: 1px solid grey">língua original</th>
          <th style="padding: 5px 10px; text-align:left; border: 1px solid grey">língua final</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding: 5px 10px; text-align:left; border: 1px solid grey">{{service}}</td>
          <td style="padding: 5px 10px; text-align:left; border: 1px solid grey">R${{cost}}</td>
          <td style="padding: 5px 10px; text-align:left; border: 1px solid grey">{{deadline}} dias úteis*</td>
          <td style="padding: 5px 10px; text-align:left; border: 1px solid grey">{{languageFrom}}</td>
          <td style="padding: 5px 10px; text-align:left; border: 1px solid grey">{{languageTo}}</td>
        </tr>
      </tbody>
    </table>

    {{#if attachments}}
    <h3 style="margin: 0px 0 5px; letter-spacing: 1px;">Arquivos para tradução</h3>
    {{#each attachments}}
    <a href={{content}}>{{filename}}</a><br />
    {{/each}}
    {{/if}}

    <p style="margin: 10px auto 10px; letter-spacing: 1px; font-size: 12px; max-width: 550px;">*o prazo de entrega dos pedidos feitos após as 16h são contados a partir do dia seguinte.</p>
    <p style="margin: 10px auto 10px; letter-spacing: 1px; font-size: 12px; max-width: 550px;">*As arquivos serão entregues sempre em seus formatos originais (.doc, .xls, etc.) com exceção daquelas cujo o formato original não permite edição (.pdf ou .jpg, por exemplo). Nestes casos a tradução será entregue em .doc.</p>

    <div style="background: #489ec7; padding: 40px; color: #fff; margin: 30px 0;">
      <h3 style="margin: 0px 0 5px; letter-spacing: 1px;">Pagamento</h3>
      <p style="margin: 0px auto 20px; letter-spacing: 1px; max-width: 470px;">
        Para o início imediato do serviço, recomendamos que o pagamento seja feito via PIX utilizando o QR code abaixo. Para pagamentos via BOLETO ou TRANSFERÊNCIA, responda a este e-mail especificando a sua preferência.
      </p>
      <img src="https://konekto-assets.s3-sa-east-1.amazonaws.com/konekto-pix.png" style="max-width: 150px;" />
      <p style="font-style: italic; color: #fff; font-size: 13px; margin: 2px auto 0;">
        clique para ampliar</p>
    </div>
    <p style="margin: 0px 0 10px; letter-spacing: 1px;">Obrigado, <br /><strong>Equipe Konekto</strong></p>
    <p style="margin: 0px 0 10px; letter-spacing: 1px; color: #489ec7;">+55 11 3280 4464 | oi@konekto.me</p>
    <a style="margin: 0px 0 10px; letter-spacing: 1px; color: #489ec7;" href="https://www.konekto.me/termos-e-garantias">Termos e Garantias</a>
    <a style="margin: 0px 0 10px; letter-spacing: 1px; color: #489ec7;" href="https://www.konekto.me/perguntas-frequentes">Perguntas Frequentes</a>
  </div>
</div>